{
  "presets": [
    "es2015",
    "stage-0",
    "babel-preset-power-assert"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-export-extensions",
    "babel-plugin-espower"
  ]
}
