#map
  height: 100%

html, body
  height: 100%
  margin: 0
  padding: 0

body
  display: flex
  flex-direction: row

#list-view
  width: 20%

#map
  width: 80%

@media (max-width: 414px)
  #list-view
    display: none;

  #map
    width: 100%

#error-message
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.off-by-default
  display: none

.loading-icon
  padding: 8px

.title
  text-align: center
  margin-top: 1rem
  font-size: 29px

.input-group
  margin: 0 0.35rem

.search-box
  display: block
  margin: 0 auto
  width: 80%

.office-list
  margin-top: 10px

.list-group-item
  border: 0
  border-top: 1px solid rgba(0, 0, 0, .125)
  padding: 0.5rem 1rem
  font-size: 15px;

.list-group-item
  &:first-child, &:last-child
    border-top-right-radius: 0
    border-top-left-radius: 0