#map
  height: 100%

html, body
  height: 100%
  margin: 0
  padding: 0

body
  display: flex
  flex-direction: row

#list-view
  width: 20%

#map
  width: 80%

.title
  text-align: center
  margin-top: 1rem
  font-size: 29px

.search-box
  display: block
  margin: 0 auto

.office-list
  margin-top: 10px

.list-group-item
  border: 0
  border-top: 1px solid rgba(0, 0, 0, .125)
  padding: 0.5rem 1rem
  font-size: 15px;

.list-group-item:first-child
  border-top-right-radius: 0
  border-top-left-radius: 0