#map
  height: 100%

html, body
  height: 100%
  margin: 0
  padding: 0

body
  display: flex
  flex-direction: row

@media (min-width: 414px)
  #list-view
    width: 20%

  #map
    width: 80%

  #hamburger-view
    display: none

  .search
    padding: 0 20px

@media (max-width: 414px)
  #list-view
    display: none

  #hamburger-view
    display: block
    position: fixed
    top: 0
    width: 100%
    height: 50px
    padding: 0 20px
    z-index: 10

  #map
    margin-top: 50px
    width: 100%

  .office-list
    height: 270px
    margin-top: 0
    overflow: scroll

#error-message-section
  height: 100%
  display: flex
  align-items: center
  justify-content: center

.off-by-default
  display: none

.loading-icon
  padding: 8px

.title
  text-align: center
  margin-top: 1rem
  font-size: 29px

.input-group
  padding-top: 4px

.search-box
  display: block
  margin: 0 5px
  width: 90%
  border: 1px solid #ccc

.office-list
  margin-top: 10px

.list-group-item
  border: 0
  border-top: 1px solid rgba(0, 0, 0, .125)
  padding: 0.5rem 1rem
  font-size: 15px;

.list-group-item
  &:first-child, &:last-child
    border-top-right-radius: 0
    border-top-left-radius: 0